<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Роман Чмиров">
    <meta name="description" content="Главная страница сайта">
    <meta name="keywords" content="Сайт о погоде, на нём показывается информация о температуре воздуха, осадках и ветре">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>lazyweather</title>
</head>

<body>
<div class="container text-center">
    <header>
        <nav>
            <h1>LAZYWEATHER</h1>
            <button class="btn btn-primary">На главную</button>
        </nav>
    </header>

    <main>
        <section>
            <img src="photo_lw.jpg">
            <p> На этом сайте рассказывается о:<br>
                — направлении ветра<br>
                — температуре воздуха<br>
                — влажности<br>
                — осадках
            </p>
        </section>
    </main>

    <footer>
        Ссылки на социальные сети:<br>
        facebook<br>
        instagram<br>
        VK<br>
    </footer>
</div>


</body>
</html>
